.caption {
    display: none;
}

.caption-container {
    min-height: 400px;
    background-image: url("/images/it-guy-crop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dot-container {
    text-align: left;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 8px;
  background-color: white;
  display: inline-block;
  transition: all 0.6s ease;
}

.active-dot {
  background-color: #0093d8;
  transform: scale(1.5);
}